:root {
    --title-color: #322153;
    --primary-color: #35cb79;
    --color-two: #f0f0f0;
    --transition-color: #0d502b;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Roboto', sans-serif;
}
body {
    background: #d5ebe6;
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
}
h1, h2, h3 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}